{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>審査フォーム（業者様向け）</p>
        </div>
        <div class="panel-body">
          {% if predictedLabel and predictedLabel == "1"}
          <div class="alert alert-success">信頼のおけるお客様です。融資して問題ありません。</div>
          {% elif predictedLabel and predictedLabel == "0"}
            {% if predictedLabel and predictedScores0 >= 0.2 %}
            <div class="alert alert-warning">この情報だけでは融資可否を判断できません。</div>
            {% endif %}
            {% if predictedLabel and predictedScores0 < 0.2 %}
            <div class="alert alert-warning">大いに問題のあるお客様です。</div>
            {% endif %}            
          {% endif %}
          <form class="form-horizontal" role="form" action="{% url 'exam' %}" method="post">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            <div class="form-group">
              <input class="btn btn-primary center-block" type="submit" value="送信" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
